<body>
  <title>Education Page</title>
<form (ngSubmit)="submitForm()" #educationForm="ngForm"> 
  <div id="education-container">
    <div *ngFor="let block of educationBlocks.educationDetails; let i = index" class="education-block">
      <label for="universityName">University Name:</label>
      <input type="text" [(ngModel)]="block.universityName" name="universityName[]" required>

      <label for="degree">Degree:</label>
      <input type="text" [(ngModel)]="block.degree" name="degree[]" required>

      <label for="major">Major:</label>
      <input type="text" [(ngModel)]="block.major" name="major[]" required>

      <label for="city">City:</label>
      <input type="text" [(ngModel)]="block.city" name="city[]" required>

      <label for="startDate">Start Date:</label>
      <input type="date" [(ngModel)]="block.startDate" name="startDate[]" required>

      <label for="endDate">End Date:</label>
      <input type="date" [(ngModel)]="block.endDate" name="endDate[]" required>

      <label for="gpa">GPA:</label>
      <input type="text" [(ngModel)]="block.gpa" name="gpa[]">

      <button type="button" class="remove-button" (click)="removeEducationBlock(i)">✖</button>
    </div>
  </div>

  <button type="button" (click)="addEducationBlock()">Add Education</button>

  <button type="submit">Save</button>
  <button type="button" routerLink="/experience">Next</button>
</form>
</body>