<body>
<div class="information-container">
  <form (ngSubmit)="submitForm(voluntarydisclosureForm)" #voluntarydisclosureForm="ngForm">
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" [(ngModel)]="voluntaryDisclosure.gender" required>
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
      <option value="OTHER">Other</option>
    </select>

    <label for="ethinicity">Ethnicity:</label>
    <select id="ethinicity" name="ethinicity" [(ngModel)]="voluntaryDisclosure.ethinicity" required>
      <option value="ASIAN">Asian</option>
      <option value="BLACK">Black</option>
      <option value="HISPANIC">Hispanic</option>
      <option value="WHITE">White</option>
      <option value="OTHER">Other</option>
    </select>

    <label for="veteranStatus">Veteran Status:</label>
    <select id="veteranStatus" name="veteranStatus" [(ngModel)]="voluntaryDisclosure.veteranStatus" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <label for="disability">Do you have a disability?</label>
    <select id="disability" name="disability" [(ngModel)]="voluntaryDisclosure.disabled" required>
      <option value="yes">Yes</option>
      <option value="no">No</option>
    </select>

    <button type="submit">Save</button>
    <button type="button" routerLink="/skills">Next</button>
  </form>
</div>
</body>