  <!-- <form action="/your-server-endpoint" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <button type="submit">Sign Up</button>
  </form> -->

  <form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="user.username" name="username" placeholder="Username" required>
    <input type="password" [(ngModel)]="user.password" name="password" placeholder="Password" required>
    <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required>
    <input type="date" [(ngModel)]="user.dob" name="dob" placeholder="Date of Birth" required>
    <label>
      <input type="checkbox" [(ngModel)]="user.isrecruiter" name="isrecruiter"> Are you a recruiter?
    </label>
    <button type="submit">Sign Up</button>
  </form>
  

