body {
    font-family: 'Montserrat', sans-serif;
    margin: -20px 0 50px;
    background: #f87b98;
    background: -webkit-linear-gradient(to right, #ff8e7a, #F87B98);
    background: linear-gradient(to right, #ff8e7a, #F87B98);
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h1 {
    text-align: center;
    color: #FF4B2B;
    font-size: 36px; /* Larger font size */
    font-weight: bold; /* Bolder font weight */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* Highlight background */
    background-clip: initial;
    -webkit-background-clip: text; /* Apply text clipping for background */
    -webkit-text-fill-color: transparent; /* Make text transparent */
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%; /* Adjust to the width of the container */
}

.filters select, .filters input[type="text"], .filters button {
    margin: 5px;
    padding: 15px; /* Increase padding for larger size */
    border: 1px solid #ced4da;
    border-radius: 8px; /* Increase border-radius for a smoother look */
    flex: 1; /* Adjusts to the available width */
    max-width: 250px; /* Maximum width for inputs */
}

.filters select {
    background-color: #fff;
    color: #333;
}

.filters input[type="text"] {
    background-color: #fff;
    color: #333;
    width: auto; /* Allow input to adjust width based on content */
}

.filters button {
    background-color: #FF4B2B;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
    width: auto; /* Allow button to adjust width based on content */
}


.filters button:hover {
    background-color: #FF6347;
}

.results {
    text-align: center;
    margin-top: 25px; /* Add some spacing between filters and results */
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.results-table th,
.results-table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.results-table th {
    background-color: #f2f2f2;
}

.even-row {
    background-color: #f9f9f9;
}

.odd-row {
    background-color: #fff;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* Left side pie charts */
.left-chart {
    position: fixed;
    left: 20px;
    top: 50%; /* Adjust the vertical position as needed */
    transform: translateY(-50%);
    z-index: 1000; /* Ensure the charts are above other content */
}

/* Right side pie charts */
.right-chart {
    position: fixed;
    right: 20px;
    top: 50%; /* Adjust the vertical position as needed */
    transform: translateY(-50%);
    z-index: 1000; /* Ensure the charts are above other content */
}

/* Common styling for both charts */
.chart-item canvas {
    width: 250px; /* Adjust width of the charts */
    height: auto;
}

.chart-title {
    margin-top: 10px;
    font-weight: bold;
    color:white;
}